body{
    margin: 0;
    background-size: cover;
    background-color: #54b0e8;
}
#start{
}
#sun{
    position: absolute;
    left: -25px;
    top: 50vh;
}

#sun2{
    width: 100px;
    height: 100px;
    border: 2px solid none;
    border-radius: 50%;
    background-color: yellow;
    background-image:url('sun4.png');
    background-size: cover;

}

#O{
    left: 50vw;
    top: 50vh;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}